<!DOCTYPE HTML> 
<html>
	<head>
		<title>CamiloBayona</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body>
		<div class="baner-login">
			<nav class="nav-menu">
				<ul>
					<img src="img/logoD.png" class="img-menu-nav">
					<p class="text-logo-menu">DevTorGame</p>
				</ul>
				<div class="div-user">
					<a href="" title="Usuario">
						<img src="img/user.png" class="user-icon">
						<p class="user-text">CamiloB</p>
					</a>
					<a href="" title="Cerrar sesion">
						<img src="img/exit.png" class="exit-menu">
					</a>
				</div>	
			</nav>
			<nav class="baner-menu-r">
				<ul>

				</ul>
			</nav>
			<div class="div-tournaments-create">
				<a href="">
					<div class="cart-create">
						<img src="img/add.png" class="img-cart">
						<p class="text-cart">Crear torneo</p>
					</div>
				</a>
			</div>
		</div>	
	</body>
</html>